@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);


body {

font-family: 'Josefin Sans', sans-serif;
background-color: #3FA474;
color: #FFFFFF;
}


h1{font-size: 60px;}
h2{font-size: 50px;}
h3{font-size: 40px;}
h4{font-size: 30px;}
p,li{font-size: 20px;}
label{ font-size: 20px; }


.titulo{color:#B8E932;}